.main{
    width: 55%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bluebuttons{
    width: 30px;
    height: 30px;
    border: none;
    appearance: none;
    outline: none;
    background: #44AAEE;
    padding: 0px 5px; 
    border-radius: 5px;
    color: #fff;
    margin-right: 15px;
    cursor: pointer;
    transition : 1s;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px rgba(0, 0, 0 , 0.2);
}

.bluebuttons:hover{
    background: #115a8b;
}

.active{
    background: #115a8b;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0 , 0.2);
}

.formbutton{
    background: transparent;
    border: 2px solid #115a8b;
    border-radius: 10px;
    padding: 8px 20px;
    margin-left: 10px;
    outline: none;
    appearance: none;
    cursor: pointer;
}

.pageselect{
    background: transparent;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 20px;
}

.buttons{
    display: flex;
}

.navigation{
    display: flex;
}
.sizeform{
    display: flex;
    align-items: center;
}